@import "./globals.scss";

[theme-mode="dark"] {
  * {
    border-color: #fff !important;
  }
  html,
  body {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
      color: #fff !important;
    }

    button {
      color: #fff !important;
      border: none;
      border-color: #fff !important;
    }
  }
}
