@import "../../../app/styles/globals.scss";

.productCard_wrapper {
  border-left: 1px solid $gray-color;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: $gray-color;
  padding: 20px 0px 20px 0px;
  cursor: pointer;
  height: 100%;
  @media (max-width: 814px) {
    width: 100%;
    border: none;
  }
}

.productCard_wrapper .image {
  width: 80%;
  height: auto;
  @media (max-width: 814px) {
    width: 50%;
  }
}

.naming {
  text-align: left;
  margin: 30px 0px 20px 20px;
  text-transform: uppercase;
  @media (max-width: 814px) {
    margin: 30px 0px 20px 0px;
    text-align: center;
  }

  & p {
    margin-bottom: 10px;
  }
  & span {
    text-transform: none;
    font-weight: bold;
  }
}

.properties {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
  @media (max-width: 814px) {
    margin: 30px 0px 20px 0px;
    justify-content: space-evenly;
  }
  & span {
    text-decoration: line-through;
    color: $light_gray-color;
    margin-right: 10px;
  }
}
