@import "../../../app/styles/globals.scss";

.productCard_wrapper {
  border-left: 1px solid $gray-color;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: $gray-color;
  padding: 20px 0px 20px 0px;
  cursor: pointer;
  min-height: 390px;
}

.productCard_wrapper .image {
  width: 80%;
  height: auto;
}

.naming {
  text-align: left;
  margin: 30px 0px 20px 20px;
  text-transform: uppercase;

  & p {
    margin-bottom: 10px;
  }
  & span {
    text-transform: none;
    font-weight: bold;
  }
}

.properties {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
  & span {
    text-decoration: line-through;
    color: $light_gray-color;
    margin-right: 10px;
  }
}
