@import "../../../app/styles/globals.scss";

.sort {
  display: flex;
  justify-content: center;
  margin-top: 13%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  position: relative;
  &_label {
    display: flex;
    align-items: center;

    b {
      margin-right: 8px;
    }

    span {
      color: $orange-color;
      border-bottom: 1px dashed $orange-color;
      cursor: pointer;
    }
  }

  &_popup {
    position: absolute;
    top: 15%;
    right: 5%;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    overflow: hidden;
    padding: 10px 0;
    width: 90%;
    text-align: center;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }
      }
    }
  }
}
