@import "../../../app/styles/globals.scss";

.swiperSlider_wrapper {
  display: flex;
  border-bottom: 1px solid $gray-color;
  border-top: 1px solid $gray-color;
  min-height: 469px;
}

.sliderTitleBlock {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  & h2 {
    font-size: 60px;
    font-family: "Cuprum", sans-serif;
  }
}
.slider {
  width: 70%;
}

.swiperSlideCards {
  border-right: none;
}

.lastSlide {
  border-right: 1px solid $gray-color;
}
