@import "../../../app/styles/globals.scss";

.swiperSlider_wrapper {
  display: flex;
  border-bottom: 1px solid $gray-color;
  border-top: 1px solid $gray-color;

  @media (max-width: 700px) {
    padding-right: 10px;
  }
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
}

.sliderTitleBlock {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 60px;

  @media (max-width: 650px) {
    padding: 0px 30px;
    width: 40%;
  }

  & h2 {
    font-size: 60px;
    font-family: "Cuprum", sans-serif;
    @media (max-width: 1600px) {
      font-size: 50px;
    }
    @media (max-width: 1400px) {
      font-size: 45px;
    }
    @media (max-width: 900px) {
      font-size: 40px;
    }
    @media (max-width: 770px) {
      font-size: 36px;
    }
    @media (max-width: 600px) {
      text-align: center;
    }
  }
}
.slider {
  width: 70%;
  @media (max-width: 650px) {
    width: 60%;
  }
}

.swiperSlideCards {
  border-right: none;
}

.lastSlide {
  border-right: 1px solid $gray-color;
  @media (max-width: 814px) {
    border-right: none;
  }
}
