$orange-color: #f9a505;
$gray-color: #383735;
$light_gray-color: #b6ad9c;

.footer_wrapper {
  display: flex;
  justify-content: center;
  text-align: center;

  > div {
    flex: 1; /* Равномерное распределение доступного пространства между элементами */
    border: 1px solid $gray-color;
    padding: 70px 0;
  }

  h3 {
    text-transform: uppercase;
    margin: 0;
  }

  p {
    line-height: 40px;
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    line-height: 40px;
    margin: 0;
  }
}
