@import "../../../app/styles/globals.scss";

.aboutSection_wrapper {
  display: flex;
  overflow-x: hidden;
  border-bottom: 1px solid $gray-color;

  .left {
    width: 50%;
    display: flex;
    align-items: center;
    border-right: 1px solid $gray-color;
  }

  .left .image {
    width: 100%;
    height: auto;
    object-fit: cover;
    @media (max-width: 900px) {
      height: 100%;
    }
  }

  .right {
    width: 50%;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    padding: 5%;

    h2 {
      text-align: left;
      font-size: 60px;
      font-family: "Cuprum", sans-serif;
      margin-bottom: 5%;
      @media (max-width: 1600px) {
        font-size: 50px;
      }
      @media (max-width: 1400px) {
        font-size: 45px;
      }
      @media (max-width: 900px) {
        font-size: 40px;
      }
      @media (max-width: 770px) {
        font-size: 36px;
      }
    }

    p {
      text-align: left;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      line-height: 30px;
    }
  }
}
