@import "../../../app/styles/globals.scss";

.SwitchToggleLight {
  border: none;
  background-color: $gray-color;
  :hover {
    border: none !important;
  }
}
.SwitchToggleDark {
  border: none;
  background-color: orange !important ;
  :hover {
    border: none !important;
  }
}
.toggleThemeButton {
  border: none;
  background-color: transparent;
}
