@import "../../../app/styles/globals.scss";

.swiper-slide-categoryFeed {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: $orange-color;
  text-align: center;
  padding: 20px 0px;
}
