@import "../../../../app//styles//globals.scss";

.TotalPrice_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  width: 40%;
  @media (max-width: 1200px) {
    width: 50%;
    font-size: 16px;
  }
  @media (max-width: 1200px) {
    width: 60%;
  }
  @media (max-width: 700px) {
    width: 70%;
    justify-content: flex-end;
  }
  @media (max-width: 600px) {
    text-align: center;
  }
}
.buyButton {
  margin-left: 10%;
  @media (max-width: 600px) {
    margin-left: 2%;
  }
  button {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    padding: 15px 60px;
    background-color: $orange-color;
    border: none;
    &:hover {
      background-color: $gray-color;
      color: #fff;
      font-weight: 600;
    }
  }
  button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
