@import "../../../app/styles/globals.scss";

.root {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 15px 60px;
  background-color: $gray-color;
  border: none;
  @media (max-width: 1200px) {
    padding: 15px 30px;
  }
  @media (max-width: 770px) {
    padding: 10px 20px;
  }
}

.root:hover {
  background-color: $orange-color;
  color: $gray-color;
  font-weight: 600;
}

.root.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.root_theme_secondary {
  font-weight: 600;
  font-size: 25px;
  color: $gray-color;
  padding: 15px 80px;
  background-color: #fff;
  border: 1px solid $gray-color;
  @media (max-width: 1400px) {
    font-size: 23px;
  }
  @media (max-width: 1200px) {
    padding: 15px 40px;
  }
}

.root_theme_categories {
  background-color: transparent;
  border: none;
  color: $gray-color;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  cursor: pointer;
  &:hover {
    color: $orange-color;
    background-color: transparent;
  }
}

[theme-mode="dark"] {
  .root_theme_secondary {
    background-color: black;
    &:hover {
      color: #fff;
      background-color: $orange-color;
    }
  }
}
