$orange-color: #f9a505;
$gray-color: #383735;
$light_gray-color: #b6ad9c;

.root {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 15px 60px;
  background-color: $gray-color;
  border: none;
}

.root:hover {
  background-color: $orange-color;
  color: $gray-color;
  font-weight: 600;
}

.root.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
