@import "../../../app/styles/globals.scss";

.navbar_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 6%;

  @media (max-width: 990px) {
    flex-wrap: wrap;
    margin: 2% 2%;
    flex-direction: column;
  }

  @media (max-width: 770px) {
    justify-content: space-evenly;
    flex-direction: column;
    margin: 4% 0;
  }
}

.navbar_logo {
  width: 80%;
  height: auto;

  @media (max-width: 1000px) {
    width: 170px;
  }
  @media (max-width: 770px) {
    width: 150px;
  }
}

.navbar_items {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;

  li {
    margin: 30px;
    list-style-type: none;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    border-bottom: 1px solid transparent;

    @media (max-width: 1400px) {
      margin: 20px;
    }

    @media (max-width: 770px) {
      margin: 10px 30px;
    }

    @media (max-width: 650px) {
      margin: 10px 10px;
    }

    a {
      color: $gray-color;
      text-decoration: none;
      border-bottom: 1px solid transparent;

      &:last-child {
        border: none;
      }
    }

    &:hover {
      border-bottom: 1px solid $orange-color;
      color: $orange-color;

      &:last-child {
        border-bottom: 1px solid transparent !important;
      }
    }
  }

  @media (max-width: 990px) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }
}

[theme-mode="dark"] {
  .navbar_items li {
    border: 1px solid transparent !important;
    &:hover {
      border-bottom: 1px solid $orange-color !important;
    }
    &:last-child {
      border-bottom: 1px solid transparent !important;
    }
  }
}
