$orange-color: #f9a505;
$gray-color: #383735;
$light_gray-color: #b6ad9c;

.header_wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #383735;

  & .left {
    width: 50%;
    border-right: 1px solid #383735;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 14%;
    & h1 {
      font-size: 70px;
      font-weight: bold;
      font-family: "Cuprum", sans-serif;
      margin-bottom: 40px;
    }
    & p {
      font-size: 23px;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      margin-bottom: 40px;
    }
  }

  & .right {
    width: 50%;
  }
  & .image {
    width: 100%;
    height: 100%;
  }
}
