@import "../../../app/styles/globals.scss";

.categories_wrapper ul {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-bottom: 1px solid $gray-color;
  border-top: 1px solid $gray-color;
}

.active button {
  color: $orange-color;
}

// .categories_button {
//   background-color: transparent;
//   border: none;
//   color: $gray-color;
//   font-size: 16px;
//   font-family: "Roboto", sans-serif;
//   font-weight: bolder;
//   cursor: pointer;
// }

// .categories_button:hover {
//   color: $orange-color;
// }
