@import "../../../app/styles/globals.scss";

.categories_wrapper ul {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-bottom: 1px solid $gray-color;
  border-top: 1px solid $gray-color;
  @media (max-width: 770px) {
    justify-content: center;
  }
  @media (max-width: 650px) {
    flex-wrap: wrap;
  }
}

.active button {
  color: $orange-color;
}
[class="root dark"] {
  .active button {
    color: $orange-color !important ;
  }
}
