@import "../../../app/styles/globals.scss";

.productList_wrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 770px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    @media (max-width: 650px) {
      grid-template-columns: repeat(1, 1fr);
    }
    li {
      border: 1px solid $gray-color;
    }
  }
}
