@import "../../../app/styles/globals.scss";

.productList_wrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    li {
      border: 1px solid $gray-color;
    }
  }
}
