@import "../../../app//styles/globals.scss";

.ProductCharacteristics_wrapper {
  display: flex;
  justify-content: space-between;

  .left {
    width: 50%;
    display: flex;
    align-items: stretch;

    .image {
      width: 100%;
      height: auto;
      border-right: 1px solid $gray-color;
    }
  }
  .right {
    width: 50%;

    h2 {
      padding: 30px 40px;
      font-size: 60px;
      font-family: "Cuprum", sans-serif;
      text-align: center;
    }
    .mainInfo {
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
      overflow: hidden;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      padding: 0;

      .mainInfoBlock {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-right: 1px solid $gray-color;
        border-top: 1px solid $gray-color;
        padding: 20px 10px;
        flex-basis: 25%;
        overflow: hidden;
        &:last-child {
          border-right: none;
        }
      }

      .addToFavoriteListButton {
        font-size: 30px;
        border: none;
        // background-color: #fff;
        color: $orange-color;
        cursor: pointer;
        &:hover {
          color: brown;
        }
      }
      .addToCartButton {
        padding: 10px 35px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: $gray-color;
        background-color: $orange-color;
        border: none;
        cursor: pointer;
        &:hover {
          background-color: brown;
          color: #fff;
        }
      }
    }
    .secondaryInfo {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      overflow: hidden;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
    }
    .secondaryInfoBlock,
    .secondaryInfoBlockTop {
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      border-right: 1px solid $gray-color;
      border-top: 1px solid $gray-color;
      padding: 30px 10px;
      white-space: nowrap;
      flex-grow: 1;
      flex-basis: 25%;
      overflow: hidden;
      &:last-child {
        border-right: none;
      }
    }
    .secondaryInfoBlockTop {
      border-right: none;
    }
    .description {
      text-align: left;
      border-top: 1px solid $gray-color;
      border-bottom: 1px solid $gray-color;
      padding: 30px 30px;
      h3 {
        font-size: 60px;
        font-family: "Cuprum", sans-serif;
      }
      p {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
      }
    }

    .composition {
      text-align: left;
      border-bottom: 1px solid $gray-color;
      padding: 30px 30px;
      h3 {
        font-size: 60px;
        font-family: "Cuprum", sans-serif;
      }
      p {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
      }
    }
  }
}
